.accordion-toggle {
    background-color: #eee;
    color: #444;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion-content {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
}