{% manifest %}
{
    "type": "Functional",
    "displayName": "all-accordion",
    "description": "This component displays data in multiple accordion elements",
    "tables": ["ktcs_accordionitem"],
    "params": [
        {
            "id": "count",
            "displayName": "Count",
            "description": "Number of items"
        }
    ]
}
{% endmanifest %}

{% fetchxml accordionItemsQuery %}
<fetch mapping="logical">
    <entity name="ktcs_accordionitem">
        <attribute name="ktcs_accordionitembody"/>
        <attribute name="ktcs_accordionitemheading"/>
        <attribute name="ktcs_accordionitemsortorder"/>
        <attribute name="ktcs_accordionitemid"/>
        <order attribute="ktcs_accordionitemsortorder" />
    </entity>
</fetch>
{% endfetchxml %}

<link rel="stylesheet" href="~/accordionTheme2.css">
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

{% if accordionItemsQuery.results.entities.size > 0 %}
<div class="col-sm-12">
    {% for item in accordionItemsQuery.results.entities %}
    <div class="accordion" id="{{ item.ktcs_accordionitemid }}" x-data="{ open: false }">
        <button x-on:click="open = !open" class="accordion-toggle" id="{{ item.ktcs_accordionitemid }}-button">
            {{ item.ktcs_accordionitemheading }}
        </button>
        <div class="accordion-content" x-show="open" x-transition id="{{ item.ktcs_accordionitemid }}-content">
            {{ item.ktcs_accordionitembody }}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div>No items found</div>
</div>
{% endif %}